<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Magic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    <script src="scripts/main.js"></script>
</head>
<body>
    <h1>IM ALIVE</h1>
    <form method="POST" action="http://localhost:3000/api/cities">
        <input id="cityName" name="name" type="text" placeholder="city name"/>
        <input id="cityDesc" name="description" type="text" placeholder="city desc"/>
        <input type="submit" />
      </form>
</body>